// Colors
$color-1: #000000;
$color-b: #5863F8;
$color-ground: #F8F8F8;

// Size
$width: 1088px;
$width-100: 100%;
$form-width:720px;
$form-width-2: 352px;
$form-height: 288px;
$form-2-height: 60px;
$center: 0 auto;
$size-f: 14px;
$size-f2: 42px;
$margin: 56px 0 70px 0;
$pdng: 12px 16px;
$fx: flex;
$spar: space-around;
$sbt: space-between;
$colm: column;

